# Build outputs
[Bb]in/
[Oo]bj/
publish/
out/

# Visual Studio / Rider / VS Code
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/

# Segredos locais (nunca versionar)
appsettings.*.local.json
*.pfx

# Logs
*.log

# EF Core
*.db
*.db-shm
*.db-wal
